<!DOCTYPE HTML>
<html>
<head>
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<script>

$(document).ready(function(){
	//connect to the socket server.
    	let socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

	//receive details from server
    	socket.on('coordinates', function(msg) {
        	all_coords = msg.points.all;
        	centers = msg.points.centers;

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			title:{
               			 text: "K-means"
        		},
        		axisX: {
                		title:"Latitude"
        		},
        		axisY:{
                		title: "Longitude"
        		},
			data: [{
				type: "scatter",
				toolTipContent: "<span style=\"color:#4F81BC \"><b>{name}</b></span><br/><b> Latitude:</b> {x}<br/><b> Longitude:</b></span> {y}",
				name: "Vehicles",
				showInLegend: true,
				dataPoints: all_coords
			},
			{
				type: "scatter",
				name: "Centers",
				showInLegend: true,
				toolTipContent: "<span style=\"color:#C0504E \"><b>{name}</b></span><br/><b> Latitude:</b> {x}<br/><b> Longitude:</b></span> {y}",
				dataPoints:centers

			}]
		});
		chart.render();
    	});

});

</script>

<body>
	<div id="chartContainer" style="height: 100%; width: 100%;"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>

</html>
